@page
@model Stripboekensite.Pages.BekijkCategorie

@{

}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">

<!-- Deze pagina is bedoeld voor moderators -->
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Categorie</th>
        <th scope="col">Updaten</th>
        <th scope="col">Verwijderen</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var Genre in @Model.Genres)
    {
        <tr>
            <form method="post" asp-page-handler="Update">
                <input name="genre_id" value="@Genre.genre_id" type="hidden"/>
                <th scope="row" class="CategoryID">@Genre.genre_id</th>
                <td class="CategoryName"><input name="soort" value="@Genre.soort"/></td>
    
                <td class="UpdateCategory"><button type="submit" class="btn btn-success"><i class="fas fa-save"></i></button></td>
            </form>
            
            <td class="DeleteCategory"><button type="button" class="btn btn-danger" onclick="deleteConfirm('@Genre.soort', '@Genre.genre_id')"><i class="far fa-trash-alt"></i></button></td>

        </tr>
    }
    

    </tbody>
</table>

<!--bootstrap pop up confirmation dialog-->
<!--this code is reused, we can probably move it to some sort of shared resource but I don't know how to do that-->
<div class="modal fade" id="delete-conformation" tabindex="-1" role="dialog" aria-labelledby="deleteconformation">
    
    <div class="modal-dialog" style="width:501px !important;margin:0 auto;">
        <div class="modal-content">
            <div class="modal-header" style="background:#d9534f;color:white;">
                <h4 class="modal-title" id="delete-conformation">
                    Delete Confirmation
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <span>
                                Are you sure you want to delete: 
                            </span>
                            <strong id="deletedValueName">
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <form method="post" asp-page-handler="Delete">
                        <input type="hidden" id="id" name="id"/>
                        <input type="submit" class="btn btn-danger" value="Delete"/>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        //this is only display bootstrap modal pop up dialog
        var deleteConfirm = function (name, id) {
            $('#deletedValueName').text(name);
            $('#id').val(id);
            $('#delete-conformation').modal('show');
        }
    </script>
}
