@page
@using System.Globalization
@model Stripboekensite.Pages.BekijkGebruikers

@{

}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css"></link>

<!-- Deze pagina is bedoeld voor moderators -->
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Naam</th>
        <th scope="col">Geboortedatum</th>
        <th scope="col">Email</th>
        <th scope="col">Rol</th>
        <th scope="col">Updaten</th>
        <th scope="col">Verwijderen</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var Gebruiker in @Model.Gebruikers)
        {
            <tr>
                <th scope="row" class="UserID">1</th>
                <td class="UserName" contenteditable="true">@Gebruiker.naam</td>
                <td class="UserDateOfBirth" contenteditable="true">@Gebruiker.Geboorte_datum.Date.ToString("yyyy MMMM dd")</td>
                <td class="UserEmail" contenteditable="true">@Gebruiker.Gebruikersnaam</td>
                <td class="UserRole" contenteditable="true">@Gebruiker.rol</td>
                <td class="UpdateUser"><button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button></td>
                <td class="DeleteUser"><button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button></td>
            </tr>
        }
    </tbody>
</table>