@page
@model Stripboekensite.Pages.BekijkBoeken

@{

}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css"></link>

<!-- Deze pagina is bedoeld voor moderators -->
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Titel</th>
        <th scope="col">ISBN</th>
        <th scope="col">Uitgever ID</th>
        <th scope="col">Uitgave 1e druk</th>
        <th scope="col">Reeks ID</th>
        <th scope="col">Nr. in reeks.</th>
        <th scope="col">Bladzijden</th>
        <th scope="col">Expliciet</th>
        <th scope="col">Updaten</th>
        <th scope="col">Verwijderen</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var stripboek in @Model.Stripboeken)
    {
        <tr>
            <th scope="row" class="BookID">@stripboek.Stripboek_id</th>
            <td class="BookTitle" contenteditable="true">@stripboek.titel</td>
            <td class="BookISBN" contenteditable="true">@stripboek.isbn</td>
            <td class="BookPublisher" contenteditable="true">@stripboek.Uitgever_id</td>
            <td class="BookFirstCopy" contenteditable="true">@stripboek.Uitgave1e_druk</td>
            <td class="BookSeriesID" contenteditable="true">@stripboek.Reeks_id</td>
            <td class="BookSeries" contenteditable="true">@stripboek.Reeks_nr</td>
            <td class="BookPages" contenteditable="true">@stripboek.Bladzijden</td>
            <td class="BookExplicit" contenteditable="true">@stripboek.expleciet</td>

            <td class="UpdateBook"><button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button></td>
            <td class="DeleteBook"><button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button></td>

        </tr>
    }
    

    </tbody>
</table>