@page
@model Stripboekensite.Pages.BekijkBoeken

@{
    
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">

 <!-- Deze button stuurt je door naar de pagina BoekToevoegen -->
<div class="col-12">
    <a class="btn btn-dark col-12" asp-area="" asp-page="/BoekToevoegen">Boek toevoegen</a>
</div>
<br/>

<!-- Deze pagina is bedoeld voor moderators -->
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Titel</th>
        <th scope="col">ISBN</th>
        <th scope="col">Uitgave 1e druk</th>
        <th scope="col">Bladzijden</th>
        <th scope="col">Expliciet</th>
        <th scope="col">Bewerken</th>
        <th scope="col">Verwijderen</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var stripboek in @Model.Stripboeken)
    {
        <tr>
            <th scope="row" class="BookID">@stripboek.Stripboek_id</th>
            <td class="BookTitle" contenteditable="false">@stripboek.titel</td>
            <td class="BookISBN" contenteditable="false">@stripboek.isbn</td>
            <td class="BookFirstCopy" contenteditable="false">@stripboek.Uitgave1e_druk</td>
            <td class="BookPages" contenteditable="false">@stripboek.Bladzijden</td>
            <td class="BookExplicit" contenteditable="false">@stripboek.expliciet</td>
            
            <td class="UpdateBook"><form method="post" asp-page-handler="Edit">
                <input type="hidden" name="id" value=@stripboek.Stripboek_id />
                <button class="btn btn-success" type="submit"><i class="fas fa-edit"></i></button>
            </form></td>
            <td class="DeleteBook">
                <button class="btn btn-danger" type="button" onclick="deleteConfirm('@stripboek.titel', '@stripboek.Stripboek_id')"><i class="fas fa-trash-alt"></i></button>
            </td>

        </tr>
    }
    

    </tbody>
</table>

<partial name="Shared/_ConfirmDeleteDialogue"/>