@page
@model Stripboekensite.Pages.BoekenkastModel
@{
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers




<div class="row">
 <div class="row">
     <form asp-page-handler="Search" method="post">
       <div class=" col-6 input-group mb-3 p-2">
         <input name="search" type="search" id="form1" class="form-control" placeholder="Typ hier" aria-label="Search"/>
        
         <div class=" col-4 input-group-append p-2">
           <select class=" form-control" name="searchtype">
             <option value="1">titel</option>
             <option value="2">creator</option>
             <option value="3">reeks</option>
             <option value="4">uitgever</option>
             <option value="5">genre</option>
           </select>
         </div>
         
          <div class=" col-2 input-group-append p-2">
            <button class="btn btn-dark" type="submit">search</button>
            </div>
       </div>
     </form>  
 
   </div>
              <h1 class="clearfix">@Model.message</h1>
           </div>
      <br/>

<div class="col-12">
  <!-- Accordion gebruiken voor verzameling tab-->
  <div class="accordion" id="CollectionAccordion">
    
    <!-- dit zijn alle boeken  -->
    <!--<div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo"> 
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#CollectionTwo" aria-expanded="true" aria-controls="CollectionTwo">
          alle boeken
        </button>-->
      <!--</h2>-->
      <!--<div id="CollectionTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#CollectionAccordion">
        <div class="accordion-body"> -->

          <div class="row mt-4 pb-4 pt-2 text-center">
            @foreach (var stripboek in @Model.gebruikerlijstshow)
            {

                  <div class="card col-4 mt-2" style="width: 18rem; margin:3rem;">
                    <div class="card-body">
                      <h5 class="card-title">@stripboek.Stripboek.titel</h5>
                      <ul class="list-group" style="text-align: left">
                        <li class="list-group-item">isbn: @stripboek.Stripboek.isbn</li>
                        <li class="list-group-item">bladzijden: @stripboek.Stripboek.Bladzijden</li>
                        <li class="list-group-item">druk: @stripboek.druk</li>
                        <li class="list-group-item">eerste druk: @stripboek.Stripboek.Uitgave1e_druk</li>
                        <li class="list-group-item">uitgave: @stripboek.uitgave</li>
                        <li class="list-group-item">bandlengte: @stripboek.bandlengte</li>
                        <li class="list-group-item">aankoop plaats: @stripboek.plaats_gekocht</li>
                        <li class="list-group-item">conditie: @stripboek.staat</li>
                        <li class="list-group-item">genres: 
                          @foreach (var genre in @stripboek.Genres)
                          {
                            <span class="badge bg-secondary">@genre.soort</span>
                          }
                        </li>
                        <li class="list-group-item">door: 
                         @foreach (var creator in @stripboek.Stripboek.Creators)
                         {
                           <span class="badge bg-secondary">@creator.Creator_naam</span>
                         }
                         </li>
                      </ul>
                      <br/>
                      <form asp-page-handler="Delete" method="post">
                        <button name="stripboekid" value="@stripboek.Gebruiker_stripboek_ID" class="btn btn-danger">Verwijder</button>
                      </form>
                      
                    </div>
                  </div>
            }
          </div>

        </div>
      </div>

    <!--</div>

    dit is per genre
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#CollectionOne" aria-expanded="true" aria-controls="CollectionOne">
          Per categorie
        </button>
      </h2>
      <div id="CollectionOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#CollectionAccordion">
        <div class="accordion-body">

          <div class="row mt-4 pb-4 pt-2 text-center">
            @foreach (var genre in @Model.Genres)
            {
              <div>@genre.soort</div>
              @foreach (var stripboek in @Model.stripboekgenreshowed)
              {
                @if (stripboek.genre.genre_id == genre.genre_id)
                {
                  <div class="card col-4 mt-2" style="width: 18rem; margin:3rem;">
                    <div class="card-body">
                      <h5 class="card-title">@stripboek.Stripboek.titel</h5>
                      <p class="card-text">test</p>
                    </div>
                  </div>
                }
              }
            }
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
-->
<br/>
