@page
@model IndexModel
@{
    ViewData["Title"] = "Home page Stripboekenwebsite";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers




<div class="row">
             <div class="form-outline col-8">    
               
               <form asp-page-handler="Search" method="post">
                 <input name="search" type="search"  id="form1" class="form-control col-8" placeholder="Typ hier" aria-label="Search" />
               </form>
             </div>
             
             <button class="btn btn-dark col-4" type="button">Zoeken</button>
             <h1 class="clearfix">@Model.message</h1>
           </div>
      <br/>
       

 <!-- Deze button stuurt je door naar de pagina BoekToevoegen -->
<div class="col-12">
    <a class="btn btn-dark col-12" asp-area="" asp-page="/BoekToevoegen">Boek toevoegen</a>
</div>

 <br/>

<div class="col-12">
    <!-- Accordion gebruiken voor verzameling tab-->
    <div class="accordion" id="CollectionAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#CollectionOne" aria-expanded="false" aria-controls="CollectionOne">
       Per categorie
      </button>
    </h2>
    <div id="CollectionOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#CollectionAccordion">
      <div class="accordion-body">
        
        <div class="row mt-4 pb-4 pt-2 text-center">
          @foreach (var genre in @Model.Genres)
          {
            <div>@genre.Soort</div>
            @foreach (var stripboek in @Model.stripboekgenreshowed)
            {
              @if (stripboek.genre.genre_id == genre.genre_id)
              {
                <div class="card col-4 mt-2" style="width: 18rem; margin:3rem;">
                  <div class="card-body">
                    <h5 class="card-title">@stripboek.Stripboek.titel</h5>
                    <p class="card-text">Test item 3</p>
                    <a href="#" class="btn btn-primary">Meer informatie</a>
                  </div>
                </div>
              }
            }
          }
        </div>
        
        </div>
      </div>
    </div>
    </div>
  </div>
<br/>



